*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    user-select: none;
}
body{
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('./photo-1484506097116-1bcba4fa7568.jpg');
    background: no-repeat center center fixed; 
    background-attachment: fixed;
    background-size: cover;
}

/* Main page */
header{
    display: flex;
    justify-content: end;
    padding: 0.625rem;
    gap: 2.5rem;
    position: fixed;
    right: 0;
    backdrop-filter:blur(10px);
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
footer{
    position: fixed;
    bottom: .5em;
    left: .5em;
}
/* Izy rehetra */
section.list{
    height: 100vh;
    width: 90vw;
    margin-top:10rem;
}
div.list-header{
    display: flex;
    justify-content: space-between;
    border-bottom: .125rem solid whitesmoke;
    padding-bottom: .5rem;
    width: 100%;
    margin-bottom: 4rem;
}
div.time{
    display: flex;
    justify-content: space-between;
    padding-bottom: .5em;
    border-bottom: solid .125rem #DBD9D9;
    margin-top: 2em;
}

/* typo */
/* Main page */
header a{
    font-size: 1rem;
    text-decoration: none;
    /* text-shadow: .1em .1rem .2em #242424 ; */
}
a:hover{
    border-bottom: .125rem solid whitesmoke;
}
section h1{
    font-size:5rem ;
    /* text-shadow: 0 .3rem #242424; */
}
section h3{
    font-size: 1.6rem;  /*12px*/
    margin-top: 1.666em;
    /* text-shadow: .1em .1rem .2em #242424 ; */
    
}
section h2{
    font-size: 1.8rem;
    /* text-shadow: .1em .1rem .1em #242424 ; */
}

div.list-header h1,
div.time-list h1
{
    font-size: 1.3rem;
    /* text-shadow: .1em .1rem .1em #242424 ; */

}
footer p{
    font-size: .9rem;
}
footer p#picture-description::first-letter{
    text-transform: uppercase;
}
footer p:nth-child(2) {
    margin-top: .2em;
}
/* darken BgImage */
div.darkenBg{
    background-color: #000000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: opacity(50%);
}